# Bluetooth
r_dir_file(bluetooth, firmware_file)

# Consumerir
type lirc_device, file_type;
allow system_server lirc_device:chr_file *;

# HAL
allow hal_fingerprint_default fingerprintd_data_file:{ dir file sock_file } *;
allow hal_fingerprint_default input_device:{ chr_file file } *;
allow hal_fingerprint_default sysfs:{ dir file } *;
allow hal_fingerprint_default tee_device:{ chr_file file } *;
allow hal_fingerprint_default uhid_device:{ chr_file file } *;
allow hal_power_default sysfs:{ dir file } *;
allow hal_wifi_default vendor_tombstone_data_file:{ dir file } *;

# Rild
allow rild diag_device:chr_file *;
allow rild rild:capability *;
allow rild system_prop:property_service *;

# Tee
binder_call(tee, surfaceflinger)
binder_use(tee)
r_dir_file(tee, persist_data_file)
allow tee block_device:dir *;
allow tee device:dir *;
allow tee fingerprintd_data_file:{ dir file sock_file } *;
allow tee firmware_file:{ dir file } *;
allow tee graphics_device:{ chr_file dir } *;
allow tee persist_data_file:{ dir file } *;
allow tee persist_drm_file:{ dir file } *;
allow tee persist_file:dir *;
allow tee self:capability *;
allow tee system_app:unix_dgram_socket *;
allow tee system_data_file:dir *;
allow tee tee_device:chr_file *;
allow tee time_daemon:unix_stream_socket *;
allow tee vfat:file *;

# Thermal
type thermal_data_file, file_type, data_file_type;
allow thermal-engine diag_device:chr_file *;
allow thermal-engine self:capability *;
allow thermal-engine system_data_file:{ dir file } *;
allow thermal-engine thermal_data_file:{ dir file } *;
allow thermal-engine thermal-engine:capability *;
