# init
allow init debugfs:{ dir file } *;
allow init diag_device:chr_file *;
allow init hal_ir_hwservice:hwservice_manager *;
allow init hal_light_hwservice:hwservice_manager *;
allow init hidl_base_hwservice:hwservice_manager *;
allow init hwservicemanager:binder *;
allow init init:socket *;
allow init hal_lineage_touch_hwservice:hwservice_manager *;
allow init lirc_device:chr_file *;
allow init mm-pp-daemon:unix_stream_socket *;
allow init pps_socket:sock_file *;
allow init qmuxd:unix_stream_socket *;
allow init qmuxd_socket:sock_file *;
allow init su_exec:file *;
allow init sysfs:{ dir file } *;
allow init sysfs_graphics:file *;
allow init sysfs_ssr:lnk_file *;
allow init tmpfs:lnk_file *;
allow init unlabeled:{ dir file } *;
allow init vendor_file:{ dir file } *;
