allow kernel platform_app:process setsched;
allow kernel radio:process setsched;
allow kernel shell:process setsched;
allow kernel system_app:process setsched;
allow kernel untrusted_app:process setsched;
