type readmac, domain;
type readmac_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(readmac)

qmux_socket(readmac)
diag_use(readmac)

# /data/misc/wifi/wlan_mac.bin
allow readmac readmac:capability *;
allow readmac self:{ capability socket } *;
allow readmac wifi_data_file:{ dir file } *;

allowxperm readmac self:socket ioctl msm_sock_ipc_ioctls;
