allow rmt_storage debugfs_rmt_storage:dir r_dir_perms;
allow rmt_storage debugfs_rmt_storage:file rw_file_perms;
allow rmt_storage self:capability net_raw;
