# Shell
allow qti_init_shell file_contexts_file:file *;
allow qti_init_shell fuse:{ dir file } *;
allow qti_init_shell kernel:security *;
allow qti_init_shell selinuxfs:file *;
allow qti_init_shell sysfs_android_usb:file *;
allow qti_init_shell sysfs_cpu_boost:file *;
allow qti_init_shell sysfs_devices_system_cpu:file *;
allow qti_init_shell sysfs_kgsl:file *;
allow qti_init_shell sysfs_net:file *;
allow qti_init_shell sysfs_rqstats:dir *;
allow qti_init_shell sysfs:file *;
allow qti_init_shell vfat:{ dir file } *;
allow shell devpts:chr_file *;
allow shell kernel:system *;
allow shell socket_device:sock_file *;
allow shell su_exec:file *;
allow shell su:process *;
allow toolbox kernel:security *;
allow toolbox selinuxfs:{ dir file } *;
allow toolbox toolbox:capability *;
