type sysinit, coredomain, domain;
type sysinit_exec, exec_type, file_type;

# Allow for transition from init domain to sysinit
init_daemon_domain(sysinit)
neverallow { domain -init } sysinit:process transition;
dontaudit sysinit shell_exec:file rx_file_perms;
dontaudit sysinit toolbox_exec:file rx_file_perms;
dontaudit sysinit system_file:file rx_file_perms;
dontaudit sysinit system_file:dir r_dir_perms;

# Sysinit
allow sysinit adb_data_file:{ dir file } *;
allow sysinit apk_data_file:{ dir file } *;
allow sysinit apk_private_data_file:{ dir file } *;
allow sysinit app_data_file:{ dir file lnk_file } *;
allow sysinit asec_image_file:{ dir file } *;
allow sysinit backup_data_file:{ dir file } *;
allow sysinit bootchart_data_file:{ dir file } *;
allow sysinit bluetooth_data_file:{ dir file } *;
allow sysinit cache_file:{ dir file lnk_file } *;
allow sysinit cache_recovery_file:{ dir file } *;
allow sysinit cgroup:{ dir file } *;
allow sysinit cnd_data_file:{ dir file } *;
allow sysinit dalvikcache_data_file:{ dir file } *;
allow sysinit device:{ dir file } *;
allow sysinit drm_data_file:{ dir file } *;
allow sysinit file_contexts_file:{ dir file } *;
allow sysinit hwservice_contexts_file:{ dir file } *;
allow sysinit init_exec:{ dir file } *;
allow sysinit media_data_file:{ dir file } *;
allow sysinit media_rw_data_file:{ dir file } *;
allow sysinit mnt_user_file:{ dir file } *;
allow sysinit mpctl_data_file:{ dir file } *;
allow sysinit nonplat_service_contexts_file:{ dir file } *;
allow sysinit ota_package_file:{ dir file } *;
allow sysinit persist_file:{ dir file } *;
allow sysinit proc_stat:{ dir file } *;
allow sysinit property_data_file:{ dir file } *;
allow sysinit properties_device:{ dir file } *;
allow sysinit property_data_file:{ dir file } *;
allow sysinit radio_data_file:{ dir file } *;
allow sysinit resourcecache_data_file:{ dir file } *;
allow sysinit rfs_system_file:{ dir file } *;
allow sysinit rootfs:{ dir file } *;
allow sysinit seapp_contexts_file:{ dir file } *;
allow sysinit sepolicy_file:{ dir file } *;
allow sysinit service_contexts_file:{ dir file } *;
allow sysinit shell_data_file:{ dir file } *;
allow sysinit shell_exec:file *;
allow sysinit storage_file:{ dir file lnk_file } *;
allow sysinit sysfs:{ dir file lnk_file } *;
allow sysinit sysinit:capability *;
allow sysinit system_app_data_file:{ dir file } *;
allow sysinit system_data_file:{ dir file } *;
allow sysinit system_file:{ dir file } *;
allow sysinit system_ndebug_socket:sock_file *;
allow sysinit time_data_file:{ dir file } *;
allow sysinit tmpfs:{ dir file } *;
allow sysinit toolbox_exec:file *;
allow sysinit usf_data_file:{ dir file } *;
allow sysinit vendor_data_file:{ dir file } *;
allow sysinit vndservice_contexts_file:{ dir file } *;
allow sysinit vfat:{ dir file } *;
allow sysinit configfs:{ dir file } *;
allow sysinit debugfs:{ dir file } *;
