# System APP
allow priv_app device:{ dir file } *;
allow priv_app proc:{ dir file } *;
allow priv_app proc_interrupts:{ dir file } *;
allow priv_app sysfs:{ dir file } *;
allow system_app init:binder *;
allow system_app installd:binder *;
allow system_app logpersistd_logging_prop:{ file property_service} *;
allow system_app netd:binder *;
allow system_app perfprofd:binder *;
allow system_app proc_pagetypeinfo:file *;
allow system_app sysfs:{ dir file } *;
allow system_app vold:binder *;
allow system_app wificond:binder *;
