allow system_server persist_file:dir read;
allow system_server sensors_persist_file:file rw_file_perms;
allow system_server fpc_sysfs:file rw_file_perms;
