# MM
type mmbn-daemon, domain;
type mmbn-daemon_exec, exec_type, file_type;
init_daemon_domain(mmbn-daemon)
qmux_socket(mmbn-daemon)
diag_use(mmbn-daemon)
allow mm-pp-daemon default_android_service:service_manager *;
allow mm-pp-daemon diag_device:chr_file *;
allow mm-pp-daemon surfaceflinger:binder *;
allow mm-qcamerad camera_prop:file *;
allow mm-qcamerad sysfs:{ dir file } *;
allow mmbn-daemon firmware_file:{ dir file } *;
allow mmbn-daemon mmbn-daemon:capability *;
allow mmbn-daemon self:socket *;
allow mmbn-daemon vfat:{ dir file } *;
allowxperm mmbn-daemon self:socket ioctl msm_sock_ipc_ioctls;

# Readmac
type readmac, domain;
type readmac_exec, exec_type, vendor_file_type, file_type;
init_daemon_domain(readmac)
qmux_socket(readmac)
diag_use(readmac)
allow readmac readmac:capability *;
allow readmac self:{ capability socket } *;
allow readmac wifi_data_file:{ dir file } *;
allowxperm readmac self:socket ioctl msm_sock_ipc_ioctls;

# Ueventd
allow ueventd lirc_device:chr_file *;
allow ueventd sysfs:{ dir file } *;
allow ueventd vfat:{ dir file } *;

# Vendor init
allow vendor_init bluetooth_data_file:{ dir file } *;
allow vendor_init dhcp_data_file:{ dir file } *;
allow vendor_init media_rw_data_file:{ dir file } *;
allow vendor_init proc:file *;
allow vendor_init radio_data_file:{ dir file } *;
allow vendor_init rootfs:{ dir file } *;
allow vendor_init system_data_file:{ dir file } *;
allow vendor_init unencrypted_data_file:{ dir file } *;
allow vendor_init wifi_data_file:{ dir file } *;
allow vendor_init wpa_socket:{ dir file } *;
