# Copyright (c) 2011-2014, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on charger
    # Disable all KTM features
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled N

    # Configure CPU scheduler
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor powersave

    # Keep only one CPU core online in charger mode
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0

on fs
    symlink /dev/block/platform/soc.0/f9824900.sdhci /dev/block/bootdevice
    mount_all /vendor/etc/fstab.qcom

on post-fs
    # We restorecon /cust in case the cust partition has been reset.
    restorecon_recursive /cust

    # Create the lost+found directories, so as to enforce our permissions
    mkdir /cust/lost+found 0770 root root

    # Some files in /sys/devices/system/cpu are created after the restorecon of /sys which receive the default label "sysfs".
    # Restorecon again to give new files the correct label.
    restorecon_recursive /sys/devices/system/cpu

on early-boot
    write /sys/bus/i2c/devices/2-0020/input/input0/update_fw 1
    write /sys/bus/i2c/devices/2-004a/update_cfg 1
    write /sys/bus/i2c/devices/2-004a/update_fw 1
    write /sys/devices/soc0/select_image 10

on boot
    # Access permission for secure touch
    chmod 0440 /sys/devices/soc.0/f9924000.i2c/i2c-2/2-0020/input/input0/secure_touch
    chmod 0660 /sys/devices/soc.0/f9924000.i2c/i2c-2/2-0020/input/input0/secure_touch_enable
    chmod 0440 /sys/devices/soc.0/f9924000.i2c/i2c-2/2-004a/secure_touch
    chmod 0660 /sys/devices/soc.0/f9924000.i2c/i2c-2/2-004a/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/f9924000.i2c/i2c-2/2-0020/input/input0/secure_touch
    chown system drmrpc /sys/devices/soc.0/f9924000.i2c/i2c-2/2-0020/input/input0/secure_touch_enable
    chown system drmrpc /sys/devices/soc.0/f9924000.i2c/i2c-2/2-004a/secure_touch
    chown system drmrpc /sys/devices/soc.0/f9924000.i2c/i2c-2/2-004a/secure_touch_enable

    # Copy prebuilt qcril database
    copy /system/vendor/qcril.db /data/misc/radio/qcril.db
    chown radio radio /data/misc/radio/qcril.db
    write /data/misc/radio/copy_complete 1
    chmod 0660 /data/misc/radio/copy_complete
    chown radio radio /data/misc/radio/copy_complete

    # DT2W
    chmod 0664 /proc/touchscreen/double_tap_enable
    chown root system /proc/touchscreen/double_tap_enable
    restorecon /proc/touchscreen/double_tap_enable

    # Edge gesture
    chmod 0664 /proc/touchscreen/edge_touch_mode
    chown root system /proc/touchscreen/edge_touch_mode
    restorecon /proc/touchscreen/edge_touch_mode

    # Enable RPS static configuration
    write /sys/class/net/rmnet_ipa0/queues/rx-0/rps_cpus 8

    # Enable TCP Fast Open by default
    write /proc/sys/net/ipv4/tcp_fastopen 3

    # Update cpuset for foreground and background apps
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/foreground/cpus 0-5
    write /dev/cpuset/restricted/cpus 0-3
    write /dev/cpuset/system-background/cpus 0
    write /dev/cpuset/top-app/cpus 0-5

service adsprpcd /vendor/bin/adsprpcd
    class main
    user media
    group media
    writepid /dev/cpuset/system-background/tasks

service fidodaemon /system/vendor/bin/fidodaemon
    class late_start
    user system
    group system
    writepid /dev/cpuset/system-background/tasks

service per_mgr /vendor/bin/pm-service
    class core
    user system
    group system net_raw
    writepid /dev/cpuset/system-background/tasks

service per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system net_raw
    disabled
    writepid /dev/cpuset/system-background/tasks

service qcamerasvr /vendor/bin/mm-qcamera-daemon
    class main
    user camera
    group camera system inet input graphics
    writepid /dev/cpuset/system-background/tasks

service qseecomd /vendor/bin/qseecomd
    class core
    user root
    group root
    writepid /dev/cpuset/system-background/tasks

service readmac /vendor/bin/readmac
    class main
    user root
    group root oem_2950
    oneshot
    writepid /dev/cpuset/system-background/tasks

on property:init.svc.media=restarting
    restart qcamerasvr

on property:init.svc.per_mgr=running
    start per_proxy

on property:init.svc.per_mgr=stopped
    stop per_proxy

on property:init.svc.servicemanager=restarting
    restart qcamerasvr

on property:persist.sys.cpu_overclock=false
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1440000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1824000

on property:persist.sys.cpu_overclock=true
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1632000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1920000

on property:persist.vendor.edge_touch_mode=false
    write /proc/touchscreen/edge_touch_mode 0

on property:persist.vendor.edge_touch_mode=true
    write /proc/touchscreen/edge_touch_mode 1

on property:ro.config.low_ram=true
    write /sys/kernel/mm/ksm/run 1

on property:sys.boot_completed=1
    # Hide sensitive IMEI and MEID properties
    setprop persist.radio.imei ""
    setprop persist.radio.imei1 ""
    setprop persist.radio.meid ""

    # Disable KTM hotplug and bring CPU4 online
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/system/cpu/cpu4/online 1

    # Configure CPU scheduler
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor sched
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor sched

    # Enable KTM hotplug again
    write /sys/module/msm_thermal/core_control/enabled 1

    # Configure GPU scheduler
    write /sys/class/devfreq/qcom,cpubw.27/governor bw_hwmon
    write /sys/class/devfreq/qcom,mincpubw.28/governor cpufreq
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 7
