on early-init
    mkdir /firmware 0771 system system
    mkdir /bt_firmware 0771 system system

on fs
    wait /dev/block/platform/soc.0/f9824900.sdhci/mmcblk0
    symlink /dev/block/platform/soc.0/f9824900.sdhci /dev/block/bootdevice
    mount_all fstab.qcom
    wait /dev/block/bootdevice/by-name/persist
    mount ext4 /dev/block/bootdevice/by-name/persist /persist nosuid nodev barrier=1
    restorecon_recursive /persist
    mkdir /persist/data 0700 system system
    mkdir /persist/wlan_bt 0700 system system

on post-fs-data
    mkdir /data/misc/dts 0770 media audio
    mkdir /data/thermal 0771 system system

on boot
    symlink /dev/block/platform/soc.0 /dev/block/bootdevice
    start rmt_storage
    start rfs_access
    write /dev/cpuset/foreground/cpus 0-2,4-5
    write /dev/cpuset/foreground/boost/cpus 4-5
    write /dev/cpuset/background/cpus 0
    write /dev/cpuset/system-background/cpus 0-2
    mkdir /dev/cpuset/top-app/boost
    write /dev/cpuset/top-app/cpus 0-5
    write /dev/cpuset/top-app/boost/cpus 4-5
    chown system system /dev/cpuset/top-app/boost
    chown system system /dev/cpuset/top-app/boost/tasks
    chmod 0664 /dev/cpuset/top-app/boost/tasks

#start camera server as daemon
service qcamerasvr /vendor/bin/mm-qcamera-daemon
    class late_start
    user camera
    group camera system inet input graphics

service qseecomd /vendor/bin/qseecomd
   class core
   user root
   group root

service perfd /vendor/bin/perfd
   class main
   user root
   disabled

service per_mgr /vendor/bin/pm-service
    class core
    user system
    group system net_raw

service per_proxy /vendor/bin/pm-proxy
    class core
    user system
    group system net_raw
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service thermal-engine /vendor/bin/thermal-engine -T
   class main
   user root
   socket thermal-send-client stream 0666 system system
   socket thermal-recv-client stream 0660 system system
   socket thermal-recv-passive-client stream 0666 system system
   group root
   setenv LD_PRELOAD libshim_thermalengine.so

service time_daemon /vendor/bin/time_daemon
   class late_start
   user root
   group root

service adsprpcd /vendor/bin/adsprpcd
   class main
   user media
   group media

service imsqmidaemon /vendor/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio log diag

service imsdatadaemon /vendor/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet log diag
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service ims_rtp_daemon /vendor/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio diag inet log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon

service imscmservice /vendor/bin/imscmservice
   class main
   user system
   group radio diag inet log

on property:init.svc.surfaceflinger=stopped
    stop ppd

service energy-awareness /vendor/bin/energy-awareness
    class main
    user root
    group system
    oneshot

service readmac /vendor/bin/readmac
    class core
    user system
    group radio oem_2950 log net_raw wifi
    oneshot

on property:sys.perf.profile=1
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
  write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
  write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 2
  write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 0
  write /sys/kernel/cpu_input_boost/ib_freqs "864000 864000"
  write /sys/kernel/cpu_input_boost/ib_duration_ms 1000
  write /sys/kernel/cpu_input_boost/enabled 1

on property:sys.boot_completed=1
	setprop sys.perf.profile 1
	# Set DEADLINE I/O scheduler && Increase read ahead cache
	setprop sys.io.scheduler "deadline"
	write /sys/block/mmcblk0/queue/scheduler "deadline"
	write /sys/block/mmcblk0rpmb/queue/scheduler "deadline"
	write /sys/block/mmcblk0/queue/read_ahead_kb 2048
	write /sys/block/mmcblk0rpmb/queue/read_ahead_kb 2048

	# Set LMK parameters
	write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
	write /sys/module/lowmemorykiller/parameters/debug_level 0

	# Android background processes are set to nice 10. Never schedule these on the a57s.
	write /proc/sys/kernel/sched_upmigrate_min_nice 9

	# Enable TCP Fast Open by default
	write /proc/sys/net/ipv4/tcp_fastopen 3
